@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(13, 10, 34);
  background: linear-gradient(
    110deg,
    rgba(13, 10, 34, 1) 5%,
    rgba(24, 75, 70, 1) 60%,
    rgba(94, 140, 116, 1) 100%
  );
  font-family: "Roboto Mono", monospace;
}
